module.exports = {
	"discordToken": "KEY",
	"bindConfigPath": "./bindconfig",
	"sendTyping": true,
	"receiveTyping": true,

	"steamOptions": {
		"dataDirectory": "./steamdata",
	},

	"steamConfig": {
		"accountName": "USERNAME",
		"password": "PASSWORD",
	},
};
